@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bus:before {
    content: "\e601";
}
.icon-walk:before {
    content: "\e602";
}
.icon-car:before {
    content: "\e600";
}
.icon-turn-left:before {
    content: "\e604";
}
.icon-turn-right:before {
    content: "\e605";
}
.icon-turn-slight-left:before {
    content: "\e607";
}
.icon-turn-slight-right:before {
    content: "\e608";
}
.icon-turn-around:before {
    content: "\e609";
}
.icon-turn-continue:before {
    content: "\e60a";
}
.icon-turn-roundabout-first:before {
    content: "\e60b";
}
.icon-turn-roundabout-second:before {
    content: "\e60c";
}
.icon-turn-roundabout-third:before {
    content: "\e60d";
}
.icon-turn-roundabout-far:before {
    content: "\e606";
}
.icon-turn-sharp-left:before {
    content: "\e60e";
}
.icon-turn-sharp-right:before {
    content: "\e60f";
}

.img-icon-gplay{
    background-image: url(../images/google-play.png);
}

.lang-ru {
    background-image: url(../images/rus.png);
}

.lang-br {
    background-image: url(../images/brazil.png);
}

.lang-es {
    background-image: url(../images/es.png);
}

.lang-en {
    background-image: url(../images/uk.png);
}

a:hover,a:focus {
    text-decoration: none;
}

a:focus, .btn:focus, div {
    outline: none;
}

.routes {
    padding-left: 3px;
    margin: 0;
}

.first-route {
    border-top: 1px solid #E6E6E6;
}

.route-wrap{
    margin: 0;
    padding: 5px 7px;
    /*padding: 7px 9px;*/
    /*color: #666666;*/
}
.route-info {
    clear: right;
    float: right;
    margin-left: 7px;
    text-align: right;
    font-size: 11px;
}

.route-info div {
    color: darkgray;
}

.route-time {
    font-size: 12px;
}

.route {
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
    line-height: 20px;
    margin: 0;
    position: relative;
    list-style: none outside none;
}

.route-arrow {
    color: lightgrey;
    margin-left: 2px;
    margin-right: 2px;
}

.suggestview .x-item-over{
    background-color: #F5F7FC;
}

.suggestview .x-item-selected{
    background: none repeat scroll 0 0 #EBF2FC;
    border-left: 1px solid #EBEFF9;
    border-right: 1px solid #EBEFF9;
    font-weight: bold;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
     position:relative;
     overflow:hidden;
 }

#sidebar .x-btn-group.transportes-group {
    padding-left: 25px;
    padding-bottom: 10px;
}

#sidebar .x-btn-group.transportes-group .x-btn {
    padding: 5px 21px;
    font-size: 24px;
    border-radius: 0;
    border-right: none;
}

#sidebar .x-btn-group.transportes-group .x-btn-inner.x-btn-inner-center {
    width: 28px;
}

.btn-group-first {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.btn-group-last {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-right: 1px solid #E1E1E1 !important;
}

.pointa input,.pointb input {
    border-radius: 4px;
    border-width: 1px !important;
    height: 30px !important;
    width: 230px !important;
}

.pointa .x-form-trigger-wrap,
.pointb .x-form-trigger-wrap {
    border-width: 0 !important;
}

.pointa label,.pointb label {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 0px;
    padding-top: 10px;
}

#change-a-b {
    padding: 1px 0 0 1px;
    margin: 5px;
}

#triptime {
    margin-right: 30px;
}

#departdate {
    float: right;
}

#departtime {
    float: right;
    margin-left: 20px;
}

#departdate .x-form-trigger-wrap,
#departtime .x-form-trigger-wrap,
#departdate .x-trigger-cell,
#departtime .x-trigger-cell,
#departdate input,
#departtime input
{
    /*height: 20px;*/
    border-radius: 8px;
}

.tripdescr {
    font-size: 12px;
    cursor: pointer;
}

.tripdescr .x-item-over{
    background-color: #F5F7FC;
}

.tripdescr .x-item-selected{
    background: none repeat scroll 0 0 #EBF2FC;
    /*border-left: 1px solid #EBEFF9;*/
    /*border-right: 1px solid #EBEFF9;*/
}

.tripdescr .endpoint {
    margin: 10px 0 0 10px;
}

.tripdescr .endpointa {
    /*border-bottom: 1px solid #EBEFF9;*/
}

.tripdescr .endpoint-icon {
    margin: 0 0 0 10px;
}

.tripdescr .endpoint-name {
    font-weight: bold;
}

.tripdescr .legdescr {
    font-size: 12px;
    border-bottom: 1px solid #EBEFF9;
}

.tripdescr .legduration {
    margin: 2px 0 0 20px;
    color: darkgray;
}

.tripdescr .legroute, .tripdescr .legname {
    margin: 5px 0 0 20px;
}

.tripdescr .legname {
    font-weight: bold;
}

.tripdescr .steproute, .tripdescr .stepname {
    margin: 5px 0 0 0;
}

.tripdescr .stepdistance {
    float: right;
    color: darkgray;
    margin: 2px;
}

.direction-icon {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: darkgray;
}

.popup-dir-icon {
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
}

.rotate45 {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate315 {
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.address-item {
    width: 100%;
    font-weight: bold;
}

.location-item {
    color: darkgray;
    font-size: 11px;
    font-weight: bold;
}

.location-item div {
    float: right;
    font-weight: normal;
}

.btn-gmarket {
    background: none;
    border: none;
}

.btn-gmarket .x-btn-button {
    height: 48px;
    width: 48px;
}

.x-btn-icon-el.img-icon-gplay {
    width: 48px;
    height: 48px;
}

.main-toolbar {
    background: #FFF url(../images/Logo_FloripaRide_V1.png) no-repeat 10px;
}

.main-toolbar .x-btn {
    background: none;
    border: none;
}

.main-toolbar .x-btn-default-toolbar-large-pressed {
    background-color: #E1E1E1;
    background-image: -moz-linear-gradient(center top , #E1E1E1, #D5D5D5 50%, #E1E1E1 51%, #E4E4E4);
}

.main-toolbar .x-btn-default-toolbar-large {
    color: #428BCA;;
    font-size: 32px;
}

.btn-mail {
    /*color: #428BCA;*/
    color: #808080;
    font-size: 32px;
}

.btn-mail .x-btn-inner {
    color: #428BCA;
    font-size: 11px;
    padding-left: 28px;
}

.lang-menu .x-menu-item-text {
    color: darkgray;
}
/****************** Bus agency styles *******************/
.agency_TranSol {
    color: #3399CC;
}