@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
    content: "\e600";
}
.icon-bus:before {
    content: "\e601";
}
.icon-walk:before {
    content: "\e602";
}

a:hover,a:focus {
    text-decoration: none;
}

a:focus, .btn:focus, div {
    outline: none;
}

.routes {
    padding-left: 3px;
}

.first-route {
    border-top: 1px solid #E6E6E6;
}

.route-wrap{
    margin: 0;
    padding: 5px 7px;
    /*padding: 7px 9px;*/
    /*color: #666666;*/
}
.route-info {
    clear: right;
    float: right;
    margin-left: 7px;
    text-align: right;
    font-size: 11px;
}

.route-time {
    font-size: 12px;
}

.route {
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
    line-height: 20px;
    margin: 0;
    position: relative;
    list-style: none outside none;
}

.route-arrow {
    color: lightgrey;
    margin-left: 2px;
    margin-right: 2px;
}

.suggestview .x-item-over{
    background-color: #F5F7FC;
}

.suggestview .x-item-selected{
    background: none repeat scroll 0 0 #EBF2FC;
    border-left: 1px solid #EBEFF9;
    border-right: 1px solid #EBEFF9;
    font-weight: bold;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
     position:relative;
     overflow:hidden;
 }

#sidebar .x-btn-group.transportes-group {
    padding-left: 25px;
    padding-bottom: 10px;
}

#sidebar .x-btn-group.transportes-group .x-btn {
    padding: 5px 21px;
    font-size: 24px;
    border-radius: 0;
    border-right: none;
}

#sidebar .x-btn-group.transportes-group .x-btn-inner.x-btn-inner-center {
    width: 28px;
}

.btn-group-first {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.btn-group-last {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-right: 1px solid #E1E1E1 !important;
}

.pointa input,.pointb input{
    height: 30px;
    border-radius: 4px;
    width: 230px !important;
}

.pointa label,.pointb label {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 0px;
    padding-top: 10px;
}

#change-a-b {
    padding: 1px 0 0 1px;
    margin: 5px;
}

#triptime {
    margin-right: 30px;
}

#departdate {
    float: right;
}

#departtime {
    float: right;
    margin-left: 20px;
}

#departdate .x-form-trigger-wrap,
#departtime .x-form-trigger-wrap,
#departdate .x-trigger-cell,
#departtime .x-trigger-cell,
#departdate input,
#departtime input
{
    /*height: 20px;*/
    border-radius: 8px;
}

/****************** Bus agency styles *******************/
.agency_TranSol {
    color: #3399CC;
}